body {
  font-family: "Pacifico", cursive;
}

.viewRecipe {
  position: fixed;
  top: 15%;
  right: 5%;
  width: 500px;
  border-left: 2px solid #762474;
  height: 100vh;
}

h1 {
  color: red;
  font-family: "Pacifico", cursive;
}

.viewRecipe li {
  list-style-type: decimal;
  text-align: left;
  margin: 10px 0;
  padding-left: 10px;
  font-size: 1rem;
}

.delete_button {
  margin-left: 20px;
  color: red;
}
